:root{
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);

    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    --gradient-one: linear-gradient(135deg, rgba(255,255,255,1), rgba(255,244,244,1));
    --gradient-two: linear-gradient(135deg, rgba(247,190,190,1), rgba(237,139,139,1));
}

main{
    height: 60vw;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 90%;
    font-family: Josefin Sans;
    grid-template-areas: 
    'logo   img'
    'main   img'
    ;
    background-image: url(./images/bg-pattern-desktop.svg);
}

/* RIGHT SIDE */

.image{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-area: img;
}

.desktop-image{
    width: auto;
    height: 100%;
    z-index: 0;
}

.mobile-image{
    display: none;
    width: 100%;
    grid-column-start: 2;
}

/* LEFT SIDE */

.main-page{
    margin: 2vw 13vw 2vw 13vw;
    z-index: 1;
    max-height: auto;
    grid-area: main;
}

.logo{
    grid-area: logo;
}

.logo img{
    height: 2.5vw;
    margin-left: 13vw;
    margin-top: 3vw;
}

.main-title{
    margin-top: 10vw;
    font-weight: 300;
    font-size: 6vw;
    color: var(--Desaturated-Red);
    text-transform: uppercase;
    letter-spacing: 2vw;
}

.main-title span{
    color: var(--Dark-Grayish-Red);
    font-weight: 600;
}

.main-text{
    margin-top: 5vw;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 2vw;
    color: var(--Desaturated-Red);
}

/* MAIL FORM */

.email-form{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.email-form label{
    display: none;
}

.email{
    height: 3vw;
    width: 100%;
    border-radius: 3vw;
    border-color: hsla(0, 36%, 70%, 20%);
    box-shadow: none;
    font-family: Josefin Sans;
    font-size: 1.5vw;
    text-align: left;
    text-indent: 2vw;
}

.email::placeholder{
    text-indent: 2vw;
    transform: translate(0, 15%);
    font-family: Josefin Sans;
    font-size: 1.5vw;
    color: hsla(0, 36%, 70%, 40%);
    text-align: left;
}

.submit{
    padding: .7vw 3vw .7vw 3vw;
    border-radius: 2vw;
    background: linear-gradient(0deg, rgba(255,131,131,1) 0%, rgba(255,75,75,1) 100%);
    box-shadow: 3px 3px 28px 6px rgba(255,0,0,0.37);
    -webkit-box-shadow: 3px 3px 28px 6px rgba(255,0,0,0.37);
    -moz-box-shadow: 3px 3px 28px 6px rgba(255,0,0,0.37);
    color: white;
    font-size: 2.5vw;
    text-align: center;
    border: none;
    position: absolute;
    right: 0;
    top: -8%;
    transform: scale(100%);
    transition: transform .5s;
}

.submit:hover{
    background: linear-gradient(0deg, rgba(255,75,75,1) 0%, rgba(255,131,131,1) 100%);
    cursor: pointer;
    transform: scale(105%);
}

.submit:invalid{
    border-color: var(--Desaturated-Red);
}

.error{
    height: 2.5vw;
    position: absolute;
    right: 25%;
    top: 10%;
}

/* ATTRUBURION */

.hidden{
    display: none;
}

/* RESPONSIVE */

@media (max-width: 375px){
    main{
        grid-template-columns: 100%;
        grid-template-rows: 20% auto auto;
        grid-template-areas: 
        'logo'
        'img'
        'main'
        ;
    }

    .logo img{
        height: 4vw;
    }

    .desktop-image{
        display: none;
    }

    .mobile-image{
        display: block;
    }

    .main-title{
        font-size: 10vw;
        text-align: center;
    }

    .main-text{
        font-size: 3.5vw;
        line-height: 5vw;
        text-align: center;
    }
}